<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de personas</title>
</head>
<body>
    <section id="container">       
    <h1><i class="fas fa-users"></i> Lista de personas</h1>
    <table>
       
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo de documento</th>
            <th>Numero de documento</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jorge henrique</td>
            <td>Marco zapata</td>
            <td>CC</td>
            <td>47854124</td>
            <td>
                <a href="#"  class="link_edit" routerLink="/editar_persona"><i class="fas fa-user-edit"></i>Editar</a>
                |
                <a href="#" class="link_delete"><i class="fas fa-trash-alt"></i>Eliminar</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Jorge henrique</td>
            <td>Marco zapata</td>
            <td>CC</td>
            <td>47854124</td>
            <td>
                <a href="#" class="link_edit">Editar</a>
                |
                <a href="#" class="link_delete">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Jorge henrique</td>
            <td>Marco zapata</td>
            <td>CC</td>
            <td>47854124</td>
            <td>
                <a href="#" class="link_edit">Editar</a>
                |
                <a href="#" class="link_delete">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Jorge henrique</td>
            <td>Marco zapata</td>
            <td>CC</td>
            <td>47854124</td>
            <td>
                <a href="#" class="link_edit">Editar</a>
                |
                <a href="#" class="link_delete">Eliminar</a>
            </td>
        </tr>
    </table>
    </section>
</body>
</html>