.form_register{
    width: 450px;
    margin: auto;
}

.form_register h1{
    color: #3c93b0;
}

hr{
    border: 0;
    background:gray;
    height: 1px;
    margin: 5px 0;
    display: block;
    position: relative;
    right: 35px;
}

form{
    background: white;
    margin:  auto;
    padding: 10px 300px;
    border: 1px solid #d1d1d1;
   
}
label{
    display: block;
    font-size: 15pt;
    font-family: times;
    margin: 10px auto 5px auto;
    
}
input,select{
    display: block;
    width: 100%;
    font-size: 11pt;
    padding:5px;
    border: 1px solid #85929e;
    border-radius:5px;
    
    

}