<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar persona</title>
</head>
<body>
    <section id="content">
        <div class="form_register">
            <h1>Actualizar persona</h1>
            <hr>
            <div class="alert"></div>
        </div>
        <form>
            <label for="nombre">Nombres</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombres">
            <label for="apellido">Apellidos</label>
            <input type="text" name="apellido" id="apellido" placeholder="Apellidos">
            <label for="id_tipo_documento">Tipo de documento</label>
            <select name="id_tipo_documento" id="Tipo de documento">
                <option value="1.">CC</option>
                <option value="2.">CE</option>
                <option value="3.">TI</option>
            </select>
            <label for="numero_documento">Numero de documento</label>
            <input type="text" name="numero_documento" id="numero_documento" placeholder="Numero de documento">
            <label for="clave">Clave</label>
            <input type="password" name="clave" id="clave" placeholder="Contraseña">
            <br>
            <input type="submit" value="Crear usuario"class="btn_save">

        </form>
    </section>
</body>
</html>

