<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section id="containter">
        <form action="" method="post">
            <h3>Iniciar Sesión</h3>
            <img src= "assets/descarga.png" alt="Login">
            <input type="text" name="usuario" placeholder="Usuario" >
            <br>
            <input type="password" name="contraseña" placeholder="Contraseña">
            <br>
            <p class="alert">Alerta</p>
            <br>
            <!--  <input routerLink="/panel" class="btn btn-primary" type="submit" value="INGRESAR ">-->
            <button  class="btn btn-primary" type="submit" >INGRESAR</button>
        </form>
        
    </section>
</body>
</html>